apiVersion: v1
kind: ServiceAccount
metadata:
  name: mobile-api
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: signage
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: crd-reader
rules:
  - apiGroups: ["parking.smart"]
    resources: ["parkinglots","parkingspaces"]
    verbs: ["get","list","watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: mobile-api-crd-rb
subjects:
  - kind: ServiceAccount
    name: mobile-api
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: crd-reader
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: signage-crd-rb
subjects:
  - kind: ServiceAccount
    name: signage
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: crd-reader
